@import "normalize.styl"

gris_oscuro = #333333
gris_claro = #818181


body
	font-size 16px
	font-family 'Varela Round', sans-serif

figure
	margin 0
.container
	padding 1.4rem
	font-size 0
	text-align center
.border-bottom
	border-bottom 1px solid gris_claro	
.button-menu
	left .5em
	margin-top -10px
	position absolute
	top 50%
.name
	color gris_oscuro
.menu
	display none		
.author
	color gris_claro
.header
	height 3.5em
	position relative
	a 
		display none
	.title
		font-size 1.1em
		text-align center
		margin	0
		line-height 3.5em
.relative
	position relative		
.song
	display inline-block
	font-size 1rem
	margin-bottom 1em
	margin-right 1em
	text-align left
	width 8rem
    &:nth-child(even)
	margin-right 0

	p
		margin .5em 0



